hostname, ipaddress, host_architecture, host_pkg_mgr, host_os_family, host_login_user_used, host_fqdn
{{ ansible_facts.hostname }}, {{ ansible_facts.eth0.ipv4.address }}, {{ ansible_facts.architecture }}, {{ ansible_facts.pkg_mgr }}, {{ ansible_facts.os_family }}, {{ ansible_facts.user_id }}, {{ ansible_facts.fqdn }}
