ipaddress, connection, port, user, appStatus, supportEmail
{% for host in groups['all'] %}
{{ hostvars[host].ansible_host }}, {{ hostvars[host].ansible_connection }}, {{ hostvars[host].ansible_port }}, {{ hostvars[host].ansible_user }}, {{ hostvars[host].appStatus }}, {{ hostvars[host].supportEmail }}
{% endfor %}
