[defaults]

inventory         = ./inventory.yaml
host_key_checking = false
interpreter_python = /usr/bin/python3.12

# Defines how many target servers can ansible can handle/control in parallel
forks = 4
